<!DOCTYPE html>
<html>
  <head>
    <title>Ecocovoit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <a href="">
        <h1>Ecocovoit' + logo</h1>
      </a>
    </header>
    <main>
      <p>Welcome to ecocovoit</p>
    </main>
    <footer>
      <p>Copyright - 2024</p>
    </footer>
  </body>
</html>
